@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 @apply font-poppins bg-white;

}

.cloud-1{
  animation: flyingCloud 12s linear infinite;

}

.cloud-2{
  animation: flyingCloud 20s linear infinite;
}
.cloud-3{
  animation: flyingCloud 15s linear infinite;
}
.cloud-4{
  animation: flyingCloud 25s linear infinite;
}

.cloud-5{
  animation: flyingCloud 10s linear infinite;
}

/* .main-content{
  width: calc(100% - 300px);
} */

.loader{
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}


@keyframes flyingCloud {
  0%{
    left: -100%;
  }
  100%{
    left: calc(100%);
  }
}